<template>
  <v-container class="wrap" fill-height>
     <v-row class="d-flex flex-column align-center">
        <contact-form class="mt-16" />
    </v-row>
  </v-container>
</template>

<script>
  import ContactForm from "@/components/ContactForm";

  export default {
    name: "Home",
    components: {
      ContactForm,
    },
  };
</script>

<style scoped>
</style>
