<template>
  <div>
    <video-player class="mt-16" />
    <v-container class="wrap">
      <v-row class="d-flex justify-center">
        <v-col cols="12" md="7" sm="10" class="my-10">
          <h2 class="main-title">
            Where good conversations become great experiences
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque sit amet sodales risus, quis ornare sapien. Donec a
            consectetur odio, vel auctor erat. Suspendisse gravida, dui laoreet
            scelerisque varius, mauris nibh mollis nulla, fermentum iaculis arcu
            erat a magna.
          </p>
        </v-col>
      </v-row>

      <v-row class="ma-0">
        <v-col cols="11" lg="5" md="7" sm="6">
          <v-img src="../assets/image2.jpg" />
        </v-col>
        <v-col cols="1" sm="1" />
        <v-col cols="12" md="4" sm="5">
          <h3>Win prospects over</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque sit amet sodales risus, quis ornare sapien. Donec a
            consectetur odio, vel auctor erat. Suspendisse gravida, dui laoreet
            scelerisque varius, mauris nibh mollis nulla, fermentum iaculis arcu
            erat a magna.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque sit amet sodales risus, quis ornare sapien. Donec a
            consectetur odio, vel auctor erat. Suspendisse gravida, dui laoreet
            scelerisque varius, mauris nibh mollis nulla, fermentum iaculis arcu
            erat a magna.
          </p>

          <v-btn class="learn-more-btn" color="white" text>Learn more</v-btn>
        </v-col>
      </v-row>
    </v-container>

    <section class="more-info my-16">
      <v-container class="wrap">
        <v-row
          :class="{
            'justify-center': windowWidth < 768,
            'justify-end': windowWidth >= 768,
          }"
        >
          <v-col class="custom-card" cols="10" md="6" sm="10">
            <h2 class="main-title">Loren ipsum dolor sit</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque sit amet sodales risus, quis ornare sapien. Donec a
              consectetur odio, vel auctor erat. Suspendisse gravida, dui
              laoreet scelerisque varius, mauris nibh mollis nulla, fermentum
              iaculis arcu erat a magna.
            </p>
            <v-btn class="learn-more-btn" color="white" text>Learn more</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="my-16">
      <v-container
        class="newsletter wrap py-16 d-flex flex-column align-center"
      >
        <h3 class="main-title text-center">Subscribe to the newsletter</h3>
        <v-col
          cols="12"
          sm="9"
          class="d-flex"
          :class="{ 'flex-column align-center': windowWidth <= 425 }"
        >
          <v-text-field
            class="py-2 w-90p"
            color="black"
            label="Email"
            required
          />
          <v-btn class="send-btn mt-2 ml-2" color="white" text>Submit</v-btn>
        </v-col>
      </v-container>
    </section>
  </div>
</template>
<script>
  import VideoPlayer from "../components/video-player";
  export default {
    components: {
      VideoPlayer,
    },

    data() {
      return {
        windowWidth: window.innerWidth,
      };
    },

    methods: {
      onResize() {
        this.windowWidth = window.innerWidth;
      },
    },

    mounted() {
      window.addEventListener("resize", this.onResize);
    },
  };
</script>
<style lang="scss" scoped>
  .main-title {
    font-size: 3rem;
  }

  .learn-more-btn {
    height: 40px;
    background: black;
    border-radius: 0;
  }

  section.more-info {
    background-image: url("../assets/image3.jpg");
    background-size: 1440px auto;
    background-position-x: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (max-width: 425px) {
    .main-title {
      font-size: 2rem;
    }

    .custom-card {
      padding: 40px !important;
    }
  }

  .custom-card {
    padding: 70px;
    background: white;
    width: 100%;
  }

  .newsletter {
    background: #d6eef2;
  }

  .text-center {
    text-align: center;
  }

  .send-btn {
    background: black;
    border-radius: 0;
    height: 40px;
    width: 150px;
  }

  .w-90p {
    width: 90%;
  }
</style>
