<template>
  <v-container class="wrap mint d-flex flex-column align-center py-16">
    <v-col class="form" md="7" sm="10">
      <h1>Skontaktuj się ze mną</h1>
      <p class="subtitle mb-2">Z przyjemnością poznamy Twoje pomysły.</p>
      <div :class="{ 'd-flex': windowWidth > 800 }">
        <v-text-field
          class="py-2"
          :class="{ 'pr-5': windowWidth > 800 }"
          color="black"
          v-model="formData.name"
          label="Imię"
          :rules="nameValidator"
          required
        />
        <v-text-field
          class="py-2"
          :class="{ 'pl-5': windowWidth > 800 }"
          color="black"
          v-model="formData.email"
          label="Email"
          :rules="emailValidator"
          required
        />
      </div>
      <v-textarea
        class="py-2"
        color="black"
        v-model="formData.message"
        label="Wiadomość"
        counter="120"
        :rules="messageValidator"
        @keydown="messageCounter"
        required
      />

      <v-btn
        class="send-btn mt-2"
        @click="send"
        color="white"
        :disabled="$v.formData.$invalid"
        text
        >Wyślij</v-btn
      >
    </v-col>
  </v-container>
</template>

<script>
  import {
    required,
    minLength,
    maxLength,
    email,
  } from "vuelidate/lib/validators";

  import { mapMutations, mapActions } from "vuex";

  const isValidName = (value) => /^[A-Z][a-z]*$/.test(value);

  export default {
    data() {
      return {
        formData: {
          name: "",
          email: "",
          message: "",
        },
        windowWidth: window.innerWidth,
      };
    },

    validations: {
      formData: {
        name: {
          required,
          minLength: minLength(4),
          isValidName,
        },

        email: {
          required,
          email,
        },

        message: {
          required,
          maxLength: maxLength(120),
        },
      },
    },

    computed: {
      isEmptyFormData() {
        const { formData } = this;

        return Object.values(formData).every(
          (val) => typeof val === "undefined"
        );
      },

      nameValidator() {
        const errors = [];
        const name = this.$v.formData.name;

        if (!name.required) {
          errors.push("Imię jest wymagane");
        }

        if (!name.minLength) {
          errors.push(`Imię musi mieć ${name.$params.minLength.min} litery`);
        }

        if (!name.isValidName) {
          errors.push(`To nie jest poprawne imię`);
        }

        return this.isEmptyFormData ? [] : errors;
      },

      emailValidator() {
        const errors = [];
        const email = this.$v.formData.email;

        if (!email.required) {
          errors.push("Email jest wymagany");
        }

        if (!email.email) {
          errors.push("Niepoprawny adres email");
        }

        return this.isEmptyFormData ? [] : errors;
      },

      messageValidator() {
        const errors = [];
        const message = this.$v.formData.message;

        if (!message.required) {
          errors.push("Wiadomość jest wymagana");
        }

        if (!message.maxLength) {
          errors.push(
            `Wiadomość moze mieć ${message.$params.maxLength.max} znaków.`
          );
        }

        return this.isEmptyFormData ? [] : errors;
      },
    },

    methods: {
      ...mapMutations({
        setAlert: "alert/SET_ALERT",
      }),

      ...mapActions({
        sendMessage: "contact/sendMessge",
      }),

      messageCounter(evt) {
        const { message } = this.formData;

        if (message && message.length >= 120) {
          this.formData.message = message.substr(0, 120);

          if (evt.keyCode >= 48 && evt.keyCode <= 90) {
            evt.preventDefault();
            return;
          }
        }
      },

      alert(description, type) {
        this.setAlert({ show: true, description, type });
        setTimeout(() => {
          this.setAlert({ show: false, description: "" });
        }, 1000);
      },

      async send() {
        try {
          await this.sendMessage(this.formData);
          this.alert("Wiadomość została wysłana!");
        } catch (error) {
          console.error(error);
          this.alert("Coś poszło nie tak!", "error");
        }

        this.formData = {};

        this.$nextTick(() => {
          this.$v.formData.$reset();
        });
      },

      onResize() {
        this.windowWidth = window.innerWidth;
      },
    },

    mounted() {
      window.addEventListener("resize", this.onResize);
    },
  };
</script>

<style lang="scss" scoped>
  .mint {
    background: #d6eef2;
  }

  .send-btn {
    width: 100%;
    height: 40px;
    background: black;
    border-radius: 0;
  }

  .v-btn--disabled {
    background: #c4c4c463;
  }

  .subtitle {
    color: #737474;
  }
</style>
