<template>
  <div class="header" :class="{ 'h-70': !isOpen }">
    <v-container class="py-0 d-flex wrap">
      <router-link to="home" tag="div" class="logo" />

      <button id="burger-btn" @click="isOpen = !isOpen">
        <span class="burger" :class="{ 'is-open': isOpen }" />
      </button>

      <ul class="menu" :class="{ 'is-open-menu': isOpen }">
        <li class="px-5">
          <router-link class="link py-2" to="/">Strona główna</router-link>
        </li>

        <li>
          <v-btn class="contact-btn" color="#ece0ce" to="/contact"
            >Kontakt</v-btn
          >
        </li>
      </ul>
    </v-container>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        isOpen: false,
      };
    },

    watch: {
      $route(c) {
        this.isOpen = false;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .header {
    width: 100%;
    background: #16494d;
    position: fixed;
    z-index: 9;
    box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.123);
  }

  .logo {
    height: 100px;
    width: 90px;
    background: white;
    box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.123);
    position: relative;
    cursor: pointer;
    z-index: 9;
  }

  .logo::after {
    content: "";
    background-image: url("../assets/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 90px;
    position: absolute;
  }

  .contact-btn {
    border-radius: 0;
    color: #16494d;
  }

  .h-70 {
    height: 70px;
  }

  li > .link {
    text-decoration: none;
    color: #ece0ce;
    display: inline;
    background-image: linear-gradient(#ece0ce, #ece0ce);
    background-size: 0% 2px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: 0.3s linear;
  }

  @media screen and (max-width: 768px) {
    #burger-btn {
      position: absolute;
      top: 30px;
      right: 60px;
    }

    .burger {
      width: 35px;
      height: 2px;
      background: #ece0ce;
      position: absolute;
    }

    .burger:after,
    .burger:before {
      content: "";
      display: block;
      height: 100%;
      background: #ece0ce;
      transition: all 0.275s;
    }

    .burger:after {
      transform: translateY(-12px) skew(-10deg);
    }

    .burger:before {
      transform: translateY(10px) skew(-10deg);
    }

    .is-open {
      transform: skew(5deg) translateY(0px) rotate(-45deg);
    }

    .is-open:before {
      transform: translateY(0px) skew(-10deg) rotate(75deg);
    }

    .is-open:after {
      transform: translateY(-12px) translateX(10px) skew(-20deg);
      opacity: 0;
    }

    .is-open-menu.menu {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.2s linear;
    }

    .menu {
      visibility: hidden;
      opacity: 0;

      position: absolute;
      width: 100%;
      height: auto;
      top: 90px;
      left: 0;
      padding: 0;
      text-align: center;

      li {
        padding: 20px;
        list-style-type: none;
        color: #ece0ce;
        width: 100%;
        background: #16494d;
      }
    }

    li > .link {
      width: 200px;
    }
  }

  @media screen and (min-width: 768px) {
    .menu {
      width: 100%;
      max-height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      li {
        list-style-type: none;
        color: #ece0ce;
      }

      .link:hover {
        background-size: 100% 2px;
      }
    }
  }
</style>
