<template>
  <div class="player">
    <video
      id="video"
      ref="videoPlayer"
      :class="{ inactive: loading }"
      autoplay
      muted
      loop
      @canplay="canplay"
      playsinline
    >
      <source type="video/webm" />
    </video>
    <img v-if="loading" id="image" :src="image" @load="onImgLoad" />
    <div
      v-if="!loading"
      @mouseover="upHere = true"
      @mouseleave="upHere = false"
    >
      <v-btn
        v-if="upHere"
        class="button"
        elevation="5"
        color="white"
        icon
        x-large
        @click="playPause"
      >
        <v-icon v-if="!play">mdi-play</v-icon>
        <v-icon v-else>mdi-pause</v-icon>
      </v-btn>
    </div>

    <div v-if="loading && imageIsLoaded" class="description d-flex">
      <h1 class="px-5">Loren Ipsu</h1>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      video: {
        type: String,
        default:
          "https://github.com/mrozkosz/empty/blob/main/Pexels%20Videos%202040063.webm?raw=true",
      },

      image: {
        type: String,
        default: require("../assets/image1.jpg"),
      },
    },

    data() {
      return {
        imageIsLoaded: false,
        loading: true,
        player: null,
        play: true,
        upHere: false,
      };
    },

    mounted() {
      this.player = this.$refs.videoPlayer;

      this.player.src = this.video;
    },

    methods: {
      canplay(e) {
        setTimeout(() => {
          this.loading = false;
        }, 3000);
      },

      onImgLoad() {
        this.imageIsLoaded = true;
      },

      playPause() {
        const { player } = this;

        if (player.paused) {
          player.play();
          this.play = true;
        } else {
          player.pause();
          this.play = false;
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .button {
    background: #16494d !important;
    color: white;
  }

  .player {
    position: relative;
    div {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .description {
    flex-direction: column;

    h1 {
      text-transform: uppercase;
      background: linear-gradient(
        to right,
        #fbf5f3 0%,
        #e28413 20%,
        #de3c4b 70%,
        #000022 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font: {
        size: 10vw;
      }
    }
  }

  .inactive {
    display: none;
  }

  #video {
    width: 100%;
    max-height: 599px;
    object-fit: cover;
  }

  .button {
    background: #18a0fb;
    color: white;
  }

  #image {
    width: 100%;
    max-height: 599px;
    object-fit: cover;
  }

  #video.loading {
    background: black url("../assets/image1.jpg") center center no-repeat;
  }

  @media (max-width: 676px) {
    .description > h1 {
      font-size: 20px !important;
      padding-bottom: 5px !important;
      line-height: 30px;
    }
  }
</style>
