<template>
  <v-app>
    <layout v-if="$route.meta.layout === 'default'">
      <router-view :key="$route.fullPath" />
    </layout>
  </v-app>
</template>

<script>
  import Layout from "./layouts/default";

  export default {
    components: { Layout },

    data() {
      return {};
    },
  };
</script>
