<template>
  <div class="full-height">
    <Header />
    <slot />
    <v-alert v-if="isVisible" class="alert" elevation="9" :type="getAlertType">{{
      getDescription
    }}</v-alert>

    <Footer />
  </div>
</template>

<script>
  import Header from "@/components/header";
  import Footer from "@/components/footer";

  import { mapGetters } from "vuex";
  export default {
    components: {
      Header,
      Footer,
    },

    data() {
      return {};
    },

    computed: {
      ...mapGetters({
        isVisible: "alert/getIsVisible",
        getDescription: "alert/getDescription",
        getAlertType: "alert/getAlertType",
      }),
    },
  };
</script>
<style lang="scss">
  .full-height {
    height: calc(100vh - 48px);
  }

  .wrap {
    position: relative;
    margin: 0px auto;
    max-width: 1050px !important;
    padding: 0 12px 0px 12px !important;
  }

  .alert.v-alert {
    position: fixed;
    z-index: 99999;
    right: 50px;
    bottom: 20px;
  }

  @media (max-width: 600px) {
    .alert.v-alert {
      transform: scale(0.8);
      bottom: 20px;
      max-width: 250px;
      left: 0;
      right: 0;
      margin: 0 auto;
      .v-alert__content {
        text-align: center;
      }
      .v-alert__icon.v-icon {
        display: none;
      }
    }
  }
</style>
